ddrpz-config {
	display: block;

	label:has(input[type=checkbox]) {
		b,
		p {
			font-size: small;
		}

		.warning {
			grid-column: 2;
			margin-block: 0;
			line-height: 1.2; /* XXX: magic number */
		}
	}
}
